body{
    background-color: #E7E6F7;
    background-image: url(../ressources/Rectangle\ 20.svg);
    background:  url(../ressources/Rectangle\ 20.svg) center center fixed;
    background-size: cover;
    background-repeat: no-repeat;
}